<p>You were invited to administer <strong><%= @invitation.organization.name %></strong> in gk-ruby.</p>

<p><%= link_to "Accept invitation", new_invitation_acceptance_url(token: @token) %></p>

<p>This private link expires in seven days. If you did not expect this invitation, you can ignore this message.</p>
